<div class="job-container">
<div *ngFor="let job of jobs" class="job-item-container">
    <h2>
        <a [routerLink] = "['/job', job.id]"
            [title] = "job.title + ' Details'">
            {{job.title}}
        </a>
    </h2>
    
    <!-- <h3>Location: {{job.location}}</h3>
    <button (click)="clickOption(jobs.indexOf(job))" *ngIf="showButton(jobs.indexOf(job))">Details</button>
    <training-jobs-details *ngIf="showChild(jobs.indexOf(job))" [jobCompany]="company" [jobDescription]="description"></training-jobs-details> -->
    
</div>
</div>